* {
  font-family: Barlow;
  font-style: normal;
}

.bbest-header-documentos-uteis h1 {
  font-weight: 600;
  font-size: 52px;
  line-height: 56px;
  color: #000099;
}
.document img {
  width: 16px;
  height: 20px;
}

.bbest-documentos-slider hr {
  margin-top: 52px;
  margin-bottom: 52px;
  border: 1px solid #dfeaf2 !important;
  opacity: 1;
}

.tabs-docs-section .content:nth-child(n + 2) {
  display: none;
}

.bb-tab-documents-21 {
  display: flex;
  flex-wrap: wrap;
}
.bbest-documentos-no-slider .line-tabs {
  height: 108px;
  position: relative;
  display: flex;
  align-items: center;
}

.bbest-documentos-no-slider .line-tabs hr {
  width: 100%;
}

.bb-tab-documents-21 li {
  flex-grow: 1;
  width: 33%;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  list-style: none;
}

.bb-tab-documents-21 li img {
  margin-right: 32px;
}

.bb-tab-documents-21 li a {
  text-decoration: none;
  color: #000099;
}

.nav-tabs-filter {
  margin-top: 52px;
  display: flex;
  justify-content: start;
  padding-left: 0px !important;
}

.nav-tabs-filter li {
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000099;
  list-style: none;
  padding: 19px 20px 26px 20px;
}

.nav-tabs-filter .active {
  display: flex;
  justify-content: center;
  position: relative;
  background: #f4f8fb;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 5px solid #000099;
}

.nav-tabs-filter .active:after {
  content: "";
  position: absolute;
  top: 100%;
  border-top: 22px solid black;
  border-top-color: inherit;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  z-index: 1;
}

.tabs-docs-section {
  margin-top: 160px;
}

.tabs-docs-section hr {
  margin: 0;
  margin-top: -1px;
}

.tabs-docs-section ul {
  margin-bottom: 0;
}

.tabs-docs-section .content {
  margin-top: 52px;
}

@media (max-width: 767.98px) {
  .bb-tab-documents-21 {
    display: flex;
    flex-wrap: wrap;
  }
  .bb-tab-documents-21 li {
    flex-grow: 1;
    width: 80% !important;
  }

  .bb-tab-documents-21 {
    display: flex;
    flex-wrap: wrap;
  }
  .bb-tab-documents-21 li {
    flex-grow: 1;
    width: 80% !important;
  }

  .bbest-documentos-no-slider .line-tabs {
    height: 98px;
  }
}

@media (max-width: 991.98px) {
  .bb-tab-documents-21 li {
    font-size: 14px;
    line-height: 20px;
  }
  .bb-tab-documents-21 li img {
    margin-right: 17px;
  }
  .tabs-docs-section hr {
    margin: 0;
    margin-top: 1px;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .bbest-header-documentos-uteis h1 {
    font-weight: 600;
    font-size: 52px;
    line-height: 56px;
    color: #000099;
  }

  .bbest-header-documentos-uteis h1 {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (max-width: 1199.98px) {
  .bbest-documentos-slider .slick-list {
    height: 85px;
  }

  .tabs-docs-section hr {
    margin: 0;
    margin-top: -22px;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .tabs-docs-section .line-tabs {
    position: relative;
  }
  .nav-tabs-filter {
    margin-top: 52px;
    display: flex;
    justify-content: start;
    padding-left: 0px !important;
  }
  .nav-tabs-filter li {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    padding: 18px 20px 18px 20px;
  }
  .nav-tabs-filter {
    z-index: 2;
  }
  .nav-tabs-filter .active {
    display: flex !important;
  }
  .bb-tab-documents-21 {
    display: flex;
    flex-wrap: wrap;
  }
  .bb-tab-documents-21 li {
    flex-grow: 1;
    width: 50%;
  }
}